body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #fafafa;
    margin: 0;
    padding: 0;
}

nav {
    background-color: transparent; /* Make it transparent */
    border-bottom: none; /* Optional: remove border */
    padding: 10px 20px;
    position: relative; /* Optional: make it stick to top */
}

.txttitle {
    text-decoration: none;
    color: red;
    align-items: center;
    background-color: RED;
}

.icon {
    height: 100px;
    width: 100px;
}

